Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
<span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>

<br/>
This site uses Google Analytics to track visits. If you would prefer to not be tracked, please install <a href="https://tools.google.com/dlpage/gaoptout">Google Analytics Opt-Out</a> or a similar extension.

<br/>
<a href="http://www.vim.org/" target="_blank"><img src="/images/created_with_vim.png" alt="Created with Vim" /></a>

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-32980212-1']);
_gaq.push(['_trackPageview']);

(function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

